body {
  font-family: "Roboto";
  font-size: 25px;
  color: #fff;
  background-color: #2F303A;
}

.box-div {
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100vh;
}

.box-text {
  display: flex;
  align-items: center; 
  justify-content: center; 
  background-color: #008000;

  border: 2px dotted red;

  width: 350px;
  height: 220px; 
  padding: 15px 10px 20px 10px;
  margin: 0px 0px 30px;
}
