a {
    text-decoration: none;
}

@font-face {
    font-family: "sfd-medium";
    src: url(../fonts/sf/SFProText-Medium.ttf);
    width: 400;
}

body {
    font-family: "sfd-medium";
    background-color: #d4dbf7;
    background-image: url(../img/index/Sprinkle.svg);
    text-align: center;
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none; 
    margin-top: 10px;
    margin-right: 50px;
}

header {
    background-color: #3c88da83;
}

.header-logo a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 30px;
}

.header-logo a:hover {
    color: #f5f5f5;
}


.link-hw > ul > li > a {
    color: #62b2fd;
    background-color: #f0f8ff;
    font-size: 20px;
}

.link-hw a:hover {
    color: #3c77af;
}


.footer-link li a {
    transition: margin 0.4s ease-in-out;
}

.footer-link li a:hover {
    margin-right: 20px;
}
