@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

body {
  background-color: #012D63;
  /* background-color: chartreuse; */
  font-family: "Roboto";
  color: #fff;
}

.container {
  width: 1110px;
  margin: 0 auto;
  outline: 3px solid rgb(255, 0, 0);
  margin-bottom: 20px;
}

.header img {
  padding: 16px 152px 17px 3px;
}

li {
  display: inline-block;
  padding-right: 29px;
  padding-top: 30px;
  padding-bottom: 33px;
}


.img-logo {
  width: 160px;
  height: 120px;
}

.menu {
  display: flex;
}

.section-1 p {
  font-family: "PT Serif";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cir {
  font-family: "Playfair Display";
  font-size: 144px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-1 h2 {
  font-family: "Playfair Display";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-1 p {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-1 button {
  width: 254px;
  height: 67px;
  border-radius: 10px;
  color: #fff;
  background: #8e32c6;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-1 {
  background-image: url(../img/nike/bg-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-2-text {
  text-align: center;
  font-family: "Playfair Display";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-2-img-1 {
  background-image: url(../img/nike/img-2.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 240px;
  height: 240px;
}

.section-2-img-2 {
  background-image: url(../img/nike/img-3.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 240px;
  height: 240px;
}

.section-2-img-3 {
  background-image: url(../img/nike/img-1.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 240px;
  height: 240px;
}

.section-3 h2 {
  text-align: center;
  font-family: "Playfair Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-3 h3:nth-child(1) {
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-3 h3:nth-child(2) {
  color: #d8d8d8;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-3 p {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-3 h3:last-child {
  color: #d8d8d8;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.photo {
  background-repeat: no-repeat;
  background-position: left;
}

.one {
  background-image: url(../img/nike/people-1.png);
}

.two {
  background-image: url(../img/nike/people-2.png);
}

.three {
  background-image: url(../img/nike/people-3.png);
}


.section-4 h3 {
  text-align: center;
  font-family: "Playfair Display";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

#email {
  
}


.section-1 .img-logo {
  
}