:root {
    --brand__color: #2196F3;
    --text__color : #757575;
    --title__color: #212121;
    --color__background: #2F303A;
    --color__black: #000000;
    --color__white: #ffffff;
    --color__adress: #FFFFFF99;
    --color__background2: #F5F4FA;;
}

body {
    font-family: Roboto;
}

.logo-option {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
}

.logo__web {
    color: var(--brand__color);
}

.logo__studio {
    color: var(--color__black);
}

.header__studio {
    color: var(--brand__color);
}

.header__portfolio {
    color: var(--title__color);
}

.header__contact {
    color: var(--title__color);
}

.header__mail {
    color: var(--brand__color);
}

.header__phone {
    color: var(--text__color);
}

.section__background {
    background-color: var(--color__background);

}

.section__h1 {
    color: var(--color__white);
    font-size: 44px;
    font-weight: 900;
}

.section__button {
    color: var(--color__white);
    background-color: var(--brand__color);
    font-weight: 700;
    font-size: 16px;
}

ul.section__text li p {
    color: var(--text__color);
    font-size: 14px;
    font-weight: 400;
}

ul.section__text li h3 {
    color: var(--title__color);
    font-size: 14px;
    font-weight: 700;
}

.section__who {
    color: var(--title__color);
    font-size: 36px;
    font-weight: 700;
}

ul.section__team li p {
    color: var(--title__color);
    font-size: 16px;
    font-weight: 500;
}

ul.section__team li h3 {
    color: var(--text__color);
    font-size: 16px;
    font-weight: 400;
}

.footer__background {
    background-color: var(--color__background);
}

.footer__logo__web {
    color: var(--brand__color);
}

.footer__logo__studio {
    color: var(--color__white);
}

.footer__addres {
    color: var(--color__white);
    font-size: 14px;
    font-weight: 400;
}

.footer__mail, .footer__number {
    color: var(--color__adress);
    font-size: 14px;
    font-weight: 400;
}

header ul li {
    font-size: 14px;
    font-weight: 500;
}

.section__team__color {
    background-color: var(--color__background2);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding: 24px;
    padding-bottom: 25px;
}