@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --brand-color: #178ef0;
    --text-color : #757575;
    --title-color: #212121;
    --color-background: #2F303A;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-adress: #FFFFFF99;
    --color-background2: #F5F4FA;
    /* --color-background2: #876fff; */
}

body {
    font-family: "Roboto";
    font-weight: 500;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 2px solid gold;

}

.menu {
    display: flex;
}

.flex {
    display: flex;
    align-items: center;
  }