@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700&display=swap");

:root {
  --brand-color: #178ef0;
  --color-active: #2196f3;
  --text-color: #757575;
  --title-color: #212121;
  --color-background: #2f303a;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-adress: rgba(255, 255, 255, 0.6);
  --color-background2: #f5f4fa;
  --color-svg: #AFB1B8;

  /* тестовые/временные цвета */
  --color-test-1: #ffd700;
  --color-test-2: #876fff;
  --color-test-3: #ff6347;
}

/* основа */
body {
  font-family: "Roboto";
  font-weight: 500;
}

.container {
  width: 1200px;
  margin-inline: auto;
  padding: 0 15px;
  outline: 2px solid var(--color-test-1);
}

.flex {
  display: flex;
}

.sitle {
  display: flex;
  justify-content: space-between;
}

h2 {
  color: var(--title-color);
  font-size: 36px;
  letter-spacing: 1.08px;
}

.center {
  text-align: center;
}

.flex-2 {
  display: flex;
}

/* цвета ссылок в header */
.color-link a {
  color: var(--title-color);
}

.color-link a:hover {
  color: var(--color-active);
}

/* цвета лого */
.logo {
  color: var(--brand-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;

  padding-right: 93px;
}

.studio-black {
  color: var(--color-black);
}

.studio-white {
  color: var(--color-white);
}

/* header */
.list-menu {
  padding: 24px 0px 24px;
  align-items: center;
}

.menu li {
  padding-right: 50px;
}

.header-address {
  margin-left: auto;
  li {
    padding-left: 50px;
  }
}

.header-studio.active {
  color: var(--color-active);
}

/* header icon */
.mail svg,
.phone svg {
  margin-right: 10px;
}

.mail:hover,
.phone:hover {
  fill: var(--color-active);
}


/* section #1 - hero */
.hero {
  background-color: var(--color-background);
  background-image: url(../img/webstudio/Img-h1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero .hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero h1 {
  color: var(--color-white);
  font-size: 44px;
  line-height: 60px; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 100%;
  max-width: 696px;
  margin: 0 auto;
}

.hero button {
  border-radius: 4px;
  background: var(--color-active);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 216px;
  height: 50px;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  margin-top: 30px;
  cursor: pointer;
}

/* section #2 - info */

.info h3 {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.info p {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  width: 270px;
}

.info li {
  padding-bottom: 95px;
}

.bg-info-svg {
  background-color: var(--color-background2);
  width: 270px;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 95px;
  margin-bottom: 30px;
}

/* section #3 - work */

.work-bottom {
  padding-bottom: 95px;
  padding-top: 50px;
}

/* section #4 - team */
.team {
  background-color: var(--color-background2);
  text-align: center;
}
.team-sec {
  padding-bottom: 95px;
}

.team-sec h2 {
  padding-bottom: 50px;
}

.team p {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.team h3 {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}

/* карточки */
.team li {
  width: 270px;
  height: 428px;
  border-radius: 0px 0px 4px 4px;
  background: var(--color-white);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.team img {
  padding-bottom: 30px;
}

/* section #4 - client */

.team-title {
  padding-top: 95px;
}

.card-client {
  justify-content: space-between;
}
.card-client li {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;

  margin-top: 50px;
  margin-bottom: 95px;
}

.card-client li div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;

  fill: #AFB1B8;
}

.card-client li div:hover {
    fill: var(--color-active);
    border: 1px solid var(--color-active);
}

/* footer */
.footer {
  background-color: var(--color-background);
}

.footer-cors {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  padding-top: 20px;
}

.address li {
  padding-bottom: 9px;
}

.address-item a {
  color: var(--color-adress);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.address-item:nth-child(1) {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

/* СоцСети иконки */

.social-container {
  display: flex;
  justify-content: center;
    padding-top: 16px;
    padding-bottom: 30px;
    align-items: center;
    margin-left: 32px;
    margin-right: 32px;
}

.social-container svg {
  fill: var(--color-svg);

  /* background-color: var(--color-test-1); */
  
}

.social-container {
  justify-content: space-between;
}

.social-contact {
  padding: 12px;
  width: 44px;
  height: 44px;
}

.social-contact:hover {
  background-color: var(--color-active);
  border-radius: 50%;
  padding: 12px;
  width: 44px;
  height: 44px;
  svg {
    fill: var(--color-white);
  }
}

/* иконки соц сетей в footer */

.social-network {
  padding-top: 12px;
}

.social-container-2 {
  display: flex;
  justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.social-container-2 svg {
  fill: var(--color-white);


  /* background-color: var(--color-test-1); */
}


.social-container-2 a {
  margin-right: 10px;
}

.bg-social {
  background-color: rgb(68, 69, 78);
  border-radius: 50%;
  padding: 12px;
  width: 44px;
  height: 44px;
}

.join-footer {
  color: var(--color-white);
font-size: 14px;
letter-spacing: 0.42px;
text-transform: uppercase;
}